@import 'tailwindcss';


@keyframes TaskItemCompleteAnimation {
    0% {
        transform:translateX(0);
        opacity: 1;
    }

    40% {
        transform: translateX(2rem);
        opacity: 0;
        margin-top: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 0;
        margin-top: calc(var(--spacing) * -21);
    }
}

@keyframes TaskListItemSelectionAnimation {
    0% {
        transform: scale(1) translateX(0);
    }

    50% {
        transform: scale(1.02) translateX(1rem);
    }

    100% {
        transform: scale(1) translateX(0);
    }
}